.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/app/app.iml
/SmartPantry.iml
/app/src/main/res/raw/configuration.xml
.idea/modules.xml