<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.iss.smartpantry" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.activity.SPApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.AddItem"
            android:label="@string/title_activity_sphome" >
        </activity>
        <activity
            android:name=".application.util.ScanBarcode"
            android:label="ScanBarcodeActivity" />
        <activity
            android:name=".views.activity.ItemDetails"
            android:label="@string/title_activity_item_details" >
        </activity>
        <activity
            android:name=".views.activity.ShopCreateActivity"
            android:label="@string/title_activity_shop_create" />

        <!--<activity-->
            <!--android:name=".views.BluetoothScan"-->
            <!--android:label="Smart Pantry">-->
                <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                    <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                    <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
                <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask" >
        </service>

        <receiver
            android:name=".application.util.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
